---
  const { title, description, course_author, dev_author } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Course author" content={course_author} />
  <meta name="Dev author" content={dev_author} />
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet">

  <title>{title}</title>
</head>
<body>
 <main>
  <slot />
 </main>
</body>
</html>

<style is:global>
  :root {
    --primary: #ED8207;
    --text: #011214;
    --white: #FEFDFB;
    --gradient: linear-gradient(310deg, var(--primary) 21.26%, #7206D0 88.02%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    font-family: Poppins, sans-serif;
  }

  p {
    font-family: 'Hind';
  }

  button {
    border: none;
    border-radius: 10px;
  }

  main {
    padding: 0 60px;
  }

  .description {
    font-size: 24px;
  }
</style>